<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>3D Model Viewer</title>
        <script src="https://preview.babylonjs.com/viewer/babylon.viewer.js"></script>
        <script src="http://threejs.org/build/three.min.js"></script>
        <script src="http://threejs.org/examples/js/loaders/OBJLoader.js"></script>
    </head>
    <body>
        <script>
            var loader = new THREE.OBJLoader();
            loader.load("./static/scene_dense_mesh_refine_texture.obj", function (object) {
                object.traverse(function (child) {
                    if (child instanceof THREE.Mesh) {
                        child.material = new THREE.MeshLambertMaterial({color: 0xff6600});

                        child
                            .geometry
                            .computeFaceNormals();
                        child
                            .geometry
                            .computeVertexNormals();
                        child.material.shading = THREE.SmoothShading;

                    }

                });
            });
        </script>

        {% load static %}
        <babylon
            model="{% static "scene_dense_mesh_refine_texture_no_normals.obj" %}"
            templates.main.params.fill-screen="true"></babylon>

    </body>
</html>
